#return-to-top {
  width: $return-to-top_size;
  height: $return-to-top_size;
  position: fixed;
  bottom: -$return-to-top_size - $return-to-top_offset;
  right: $return-to-top_offset;
  opacity: 0.65;
  background: black;
  border-radius: 100%;
  color: white;
  text-align: center;
  text-decoration: none;

  transition: opacity $button_transition, bottom $button_transition;

  &.return-to-top_visible {
    bottom: $return-to-top_offset;

    &:hover {
      opacity: 1;
    }
  }

  .fa {
    font-size: 1.25em;
    line-height: $return-to-top_size;
    transform: translateY(-3%);
  }
}
