html {
  font-family: 'Roboto', sans-serif;
}

.title,
.subtitle {
  line-height: 0.93;
}

.title {
  font-family: 'Montserrat', cursive;
  font-size: $title_font-size;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Kaushan Script', cursive;
  font-size: $subtitle_font-size;
  font-weight: normal;
}

hr {
  width: $hr_width;
  margin: 0 auto;
  border: 2px solid white;
}
