@import 'variables';
@import 'section';
@import 'img-hoverable';
@import 'return-to-top';
@import 'header';
@import 'nav';
@import 'facts';
@import 'services';
@import 'design';

html {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
