#facts {
  background: $green;
  text-align: center;

  &__wrapper {
    display: flex;
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    text-transform: uppercase;
  }
}

.fact {
  padding: $fact_padding-y 0;
  flex: 1 0;
  $fact_border: 1px solid rgba(white, 0.3);
  border-left: $fact_border;

  &:last-child {
    border-right: $fact_border;
  }

  &__number,
  &__text {
    margin: 0;
  }

  &__number {
    margin-bottom: $fact__number_margin-bottom;

    font-size: $fact__number_font-size;

    @include media-breakpoint-down(md) {
      font-size: $fact__number_font-size * 0.7;
    }

    @include media-breakpoint-down(xs) {
      font-size: $fact__number_font-size * 0.5;
    }

    font-weight: bold;
  }

  &__text {
    font-size: $fact__text_font-size;

    @include media-breakpoint-down(lg) {
      font-size: $fact__text_font-size * 0.8;
    }
  }
}
