#services {
  .row:not(:last-child) {
    border-bottom: $service_border;
  }

  @include media-breakpoint-down(md) {
    .service__col:not(:last-child) {
      border-bottom: $service_border;
    }
  }
}

.service {
  display: flex;
  text-align: initial;

  &__col {
    padding-top: $service__col_padding-top;
    padding-bottom: $service__col_padding-bottom;
  }

  &__icon {
    display: block;
    width: $service__icon_width;
    color: $green;
    font-size: $service__icon_font-size;
    text-align: center;

    .fa {
      vertical-align: text-top;
    }
  }

  &__text-wrapper {
    flex: 1;
  }

  &__title {
    margin-top: 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
}
