.guy {
  &__links {
    display: flex;
    justify-content: center;
  }

  &__link {
    @mixin guy__link_size($size) {
      width: $size;
      height: $size;
      line-height: $size;

      .fa {
        font-size: $size * 0.5;
      }
    }

    @include media-breakpoint-down(lg) {
      @include guy__link_size(45px);
    }

    @include media-breakpoint-down(md) {
      @include guy__link_size(60px);
    }

    @include guy__link_size(60px);

    background: $yellow;
    color: $red;

    &:not(:last-child) {
      border-right: 1px solid $red;
    }

    &:hover {
      background: $red;
      color: white;
    }

    .fa {
      vertical-align: sub;
    }
  }

  &__name {
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

  &__desc {
    font-style: italic;
    font-weight: 300;
  }
}
