.blog-article {
  padding-top: $blog-article_padding-y;
  padding-bottom: $blog-article_padding-y;
  text-align: initial;

  &__img-wrapper {
    position: relative;
  }

  &__img {
    width: 100%;
  }

  &__caption {
    padding: $blog-article__caption_padding;
    position: absolute;
    left: -$blog-article__caption_offset;
    bottom: $blog-article__caption_offset;
    background: $green;
    color: #fff;
    line-height: 1;
  }

  &__date {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: $blog-article__date_font-size;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__month {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-transform: none;
  }

  &__title {
    color: initial;
    font-weight: 400;

    transition: color $color_transition;
  }

  &__link:hover &__title {
    color: $red;
  }

  &__line {
    color: $gray-200;
  }

  &__views,
  &__comments {
    display: inline-block;
    font-style: italic;

    .fa {
      color: $green;
    }
  }

  &__comments {
    margin-left: $blog-article__comments_margin-left;
  }
}
