.blog-article {
  padding-top: $blog-article_padding-y;
  padding-bottom: $blog-article_padding-y;
  text-align: initial;

  &__img-wrapper {
    position: relative;
  }

  &__img {
    width: 100%;
  }

  &__caption {
    padding: $blog-article__caption_padding;
    position: absolute;
    left: -$blog-article__caption_offset;
    bottom: $blog-article__caption_offset;
    background: $green;
    color: #fff;
    line-height: 1;
  }

  &__date {
    margin: 0;
    font-family: $font-family-lg;
    font-size: $blog-article__date_font-size;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__month {
    margin: 0;
    font-family: $font-family-default;
    font-style: italic;
    text-transform: none;
  }

  @mixin lines($lines: 1) {
    height: 1em * $lines * $section__content_line-height;
  }

  &__title {
    @include media-breakpoint-up(lg) {
      @include lines(1);
    }

    @include media-breakpoint-between(md, lg) {
      @include lines(2);
    }

    color: initial;
    font-weight: 400;

    transition: color $color_transition;
  }

  &__text {
    @include media-breakpoint-up(lg) {
      @include lines(3);
    }

    @include media-breakpoint-only(md) {
      @include lines(4);
    }
  }

  &__link:hover &__title {
    color: $red;
  }

  &__views,
  &__comments {
    display: inline-block;
    font-style: italic;

    .fa {
      color: $green;
    }
  }

  &__comments {
    margin-left: $blog-article__comments_margin-left;
  }
}
