#clients {
  padding: 0;
  @include background-image('../../assets/img/clients/bg.jpg');

  &__overlay {
    padding: $section_padding-y 0;
    background: $client__overlay_color;
  }
}

.client {
  display: flex;
  padding-top: $client_padding-y;
  padding-bottom: $client_padding-y;
  align-items: flex-start;
  text-align: initial;

  &__img {
    margin-right: $client__img_margin-right;

    @include media-breakpoint-down(sm) {
      margin-right: $client__img_margin-right / 2;
    }
  }

  &__text-wrapper {
    flex: 1;
  }

  &__name,
  &__info {
    line-height: 1;
  }

  &__name {
    margin-top: 0;
    color: initial;
    font-weight: 400;
  }

  &__info {
    color: $gray-600;
    font-style: italic;
  }

  &__line {
    width: $section__line_width;
    margin: $client__line_margin-y 0;
    border: ($client__line_height / 2) solid $red;
  }
}
