#design {
  padding-bottom: 0;
  @include background-image('../../assets/img/design/bg.jpg');

  &__devices {
    position: relative;
  }

  &__mobile {
    margin-left: $design__mobile_margin-left;
    position: absolute;
    bottom: -$design__mobile_bottom;
    left: 50%;
  }
}
