#footer {
  padding-top: $section_sub_padding-y;
  color: $section__content_color;
  line-height: $section__content_line-height;
}

#footer-about {
  &__brand {
    margin: 0;
    color: $footer-about__brand_color;
    font-size: $footer-about__brand_font-size;
    text-transform: none;
  }

  &__info {
    margin-bottom: $footer__section_spacing;
  }
}

.footer__col {
  margin-bottom: $section_sub_padding-y * 1.5;
}

#followers {
  color: $followers_color;
  font-family: $font-family-lg;
  font-size: $followers_font-size;

  &__number {
    font-weight: 700;
  }
}

#follow-us {
  margin-bottom: $footer__section_spacing;

  &__label {
    display: inline-block;
    margin-right: $follow-us__label_margin-right;
    font-style: italic;
  }
}

.follow-us__link {
  color: $green;

  transition: color $color_transition;

  &:not(:last-child) {
    margin-right: $follow-us__label_margin-right / 2;
  }

  &:hover {
    color: $follow-us__link_hover_color;
  }
}

#subscribe {
  display: flex;

  &__input {
    min-width: 0;
    padding: $subscribe__input_padding;
    // stretch to full width
    flex: 1;
    border: $subscribe__input_border;

    &::placeholder {
      font-style: italic;
      color: $subscribe__input_placeholder-color;
    }
  }

  &__btn {
    display: inline-block;
    padding: $btn_padding-y $btn_padding-x;
    border: none;
    background: $subscribe__btn_background;
    color: $subscribe__btn_color;
    font-family: $font-family-lg;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    transition: color $color_transition, background $color_transition;

    &:hover {
      background: $subscribe__btn_hover_background;
      color: $subscribe__btn_hover_color;
    }
  }
}

.footer-section {
  &__title {
    color: initial;
  }
}

.footer-blog {
  display: flex;
  align-items: center;
  color: $section__content_color;
  font-family: $font-family-default;
  text-transform: none;

  &:not(:last-child) {
    margin-bottom: $footer-blog_spacing;
  }

  &__img {
    margin-right: $footer-blog__img_margin-right;
  }

  &__title {
    margin: 0;
    margin-bottom: $footer-blog__title_margin-bottom;
    color: initial;

    transition: color $color_transition;
  }

  &:hover &__title {
    color: $footer-blog__title_hover_color;
  }

  &__date {
    margin: 0;
    font-size: $footer-blog__date_font-size;
    font-style: italic;
  }
}

#footer-photos {
  .footer-section__content {
    display: flex;
    margin-bottom: $footer-photos__content_margin-bottom;
    flex-wrap: wrap;
  }

  &__more {
    color: $footer-photos__more_color;
    font-family: $font-family-default;
    font-weight: 400;
    font-style: italic;
    text-transform: none;

    transition: color $color_transition;

    &:hover {
      color: $footer-photos__more_hover_color;
    }
  }
}

.footer-photo {
  margin: $footer-photo_margin;
}

#footer-copyright {
  margin: $footer-copyright__margin-y 0;
  color: initial;
  font-family: $font-family-lg;
  font-size: $footer-copyright__font-size;
  text-align: center;

  a {
    text-transform: none;
    color: $footer-copyright__link_color;

    transition: color $color_transition;

    &:hover {
      color: $footer-copyright__link_hover_color;
    }
  }
}
