#footer {
  padding-top: $section_sub_padding-y;
  color: $section__content_color;
  line-height: $section__content_line-height;

  &__content {
    margin-bottom: $section_sub_padding-y * 1.5;
  }

  &-about {
    &__brand {
      margin: 0;
      color: $footer-about__brand_color;
      font-size: $footer-about__brand_font-size;
      text-transform: none;
    }

    &__info {
      margin-bottom: $footer__section_spacing;
    }
  }

  &-copyright {
    margin: $footer-copyright__margin-y 0;
    color: initial;
    font-family: 'Montserrat', sans-serif;
    font-size: $footer-copyright__font-size;
    text-align: center;

    a {
      text-transform: none;
      color: $footer-copyright__link_color;

      transition: color $color_transition;

      &:hover {
        color: $footer-copyright__link_hover_color;
      }
    }
  }
}

#followers {
  color: $followers_color;
  font-family: 'Montserrat', sans-serif;
  font-size: $followers_font-size;

  &__number {
    font-weight: 700;
  }
}

#follow-us {
  margin-bottom: $footer__section_spacing;

  &__label {
    display: inline-block;
    margin-right: $follow-us__label_margin-right;
    font-style: italic;
  }
}

.follow-us__link {
  color: $green;

  transition: color $color_transition;

  &:not(:last-child) {
    margin-right: $follow-us__label_margin-right / 2;
  }

  &:hover {
    color: $follow-us__link_hover_color;
  }
}

#subscribe {
  display: flex;

  &__input {
    padding: $subscribe__input_padding;
    // stretch to full width
    flex: 1;
    border: $subscribe__input_border;

    &::placeholder {
      font-style: italic;
      color: $subscribe__input_placeholder-color;
    }
  }

  &__btn {
    display: inline-block;
    padding: $btn_padding-y $btn_padding-x;
    border: none;
    background: $subscribe__btn_background;
    color: $subscribe__btn_color;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    transition: color $color_transition, background $color_transition;

    &:hover {
      background: $subscribe__btn_hover_background;
      color: $subscribe__btn_hover_color;
    }
  }
}
