@import './header/nav';

#header {
  @include background-image('../../assets/img/header.jpg');
  color: white;

  &__overlay {
    padding-top: $header_padding-top;
    padding-bottom: $header_padding-bottom;
    background: $red-to-yellow;
  }

  &__title-wrapper {
    @include media-breakpoint-down(md) {
      font-size: 0.8em;
    }

    @include media-breakpoint-down(sm) {
      font-size: 0.6em;
    }

    @include media-breakpoint-down(xs) {
      font-size: 1.6vw;
    }
  }

  .section {
    margin-bottom: $header__desc_margin-bottom;
    padding: 0;

    &__subtitle {
      margin-bottom: $header__subtitle_margin-bottom;
      font-size: $header__subtitle_font-size;
    }

    &__title {
      font-size: $header__title_font-size;
    }

    &__line {
      border-color: white;
    }
  }
}

#learn-more {
  display: inline-block;
  padding: $learn-more_padding-y $learn-more_padding-x;
  border: $learn-more_border-width solid white;
  text-align: center;

  transition: color $color_transition, border-color $color_transition;

  &:hover {
    border-color: $yellow;
    color: $yellow;
  }
}
