.quote {
  display: flex;
  align-items: center;
  font-size: $quote_font-size;
  line-height: $section__content_line-height;
  text-align: initial;
  user-select: initial;

  @include media-breakpoint-down(lg) {
    font-size: $quote_font-size * 0.9;
  }

  @include media-breakpoint-down(md) {
    font-size: $quote_font-size * 0.7;
  }

  @include media-breakpoint-down(xs) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__icon,
  &__pic {
    font-size: $quote__icon_size;

    @include media-breakpoint-up(sm) {
      margin-right: $quote__icon_margin;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: $quote__icon_margin;
    }
  }

  &__icon {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: $quote__icon_padding;
    border: $quote__icon_border;
    color: $quote__icon_color;
    text-align: center;

    .fa {
      vertical-align: super;
    }
  }

  &__content {
    flex: 1;

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
    }
  }

  &__text {
    margin-top: 0;
    color: $gray-400;
    font-style: italic;
  }

  &__footer {
    font-family: 'Kaushan Script', cursive;

    &::before {
      content: '\2e3a'; // two-em dash
      margin-right: $quote__dash_margin-right;
      color: $quote__dash_color;
      font-weight: 700;
    }
  }

  &__cite {
    font-style: normal;
  }
}
