#team {
  padding-bottom: $section_padding-y - $guy_margin-bottom;
}

.guy {
  margin-bottom: $guy_margin-bottom;

  &__links {
    display: flex;
    justify-content: center;
  }

  &__link {
    @mixin guy__link_size($size) {
      width: $size;
      height: $size;
      line-height: $size;

      .fa {
        font-size: $size * 0.5;
      }
    }

    @include media-breakpoint-between(md, md) {
      @include guy__link_size(45px);
    }

    @include guy__link_size(60px);

    background: $yellow;
    color: $red;

    &:not(:last-child) {
      border-right: $guy_border-right;
    }

    &:hover {
      background: $red;
      color: white;
    }

    .fa {
      vertical-align: sub;
    }
  }

  &__name {
    color: initial;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

  &__desc {
    font-style: italic;
  }
}
