#what-we-do {
  padding-bottom: $section_padding-y - $what-we-do__item_margin-bottom;

  .accordion {
    max-width: 570px;
    margin: 0 auto;
    text-align: initial;
  }

  &__img,
  .accordion {
    margin-bottom: $what-we-do__item_margin-bottom;
  }

  .accordion-item {
    &__toggle {
      .fa {
        width: 1em;
        margin-right: $what-we-do__icon_margin-right;
        font-size: $what-we-do__icon_size;
        text-align: center;
        vertical-align: middle;
      }
    }

    &__content-wrapper {
      font-style: italic;
    }

    &_expanded .accordion-item__content-wrapper {
      height: 172px;

      @include media-breakpoint-between(lg, lg) {
        height: 112px;
      }
    }
  }
}
