#work {
  padding-bottom: 0;

  .section__content:last-child {
    margin-bottom: $section__content_margin-bottom;
  }

  &__imgs {
    display: flex;
    flex-wrap: wrap;
  }
}

.work {
  &__col {
    // 4 columns
    flex: 25%;

    @include media-breakpoint-down(md) {
      // 2 columns
      flex: 50%;
    }

    @include media-breakpoint-down(xs) {
      // 1 column
      flex: 100%;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }
}
