#work {
  .section__content:last-child {
    margin-bottom: $section__content_margin-bottom;
  }

  &__pics {
    display: flex;
    flex-wrap: wrap;
  }
}

.work {
  &__col {
    // 4 columns
    flex: 0 0 25%;

    @include media-breakpoint-down(md) {
      // 2 columns
      flex: 0 0 50%;
    }

    @include media-breakpoint-down(xs) {
      // 1 column
      flex: 0 0 100%;
    }
  }

  &__pic {
    display: block;
    width: 100%;
  }
}
