.accordion {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accordion-item {
  $accordion_border: 1px solid $lighter-gray;
  border: $accordion_border;

  &:not(:last-child) {
    margin-bottom: $accordion-item_interval;
  }

  &__toggle {
    display: block;
    padding: $accordion-item__toggle_padding;
    color: initial;

    transition: color $color_transition;

    &:hover {
      color: $darker-gray;
    }
  }

  &__content-wrapper {
    height: 0;
    border-top: $accordion_border;
    overflow: auto;

    transition: height $expansion_transition;
  }

  &__content {
    margin: ($accordion-item__content_padding / $section__content_line-height)
      $accordion-item__content_padding;
  }
}
