$gray-400: #999;
$gray-100: lighten($gray-400, 37.25%);
$gray-200: lighten($gray-400, 29.75%);
$gray-300: lighten($gray-400, 20%);
$gray-500: darken($gray-400, 20%);
$gray-600: darken($gray-400, 40%);
$red: #f38181;
$yellow: #fce38a;
$green: #95e1d3;
$red-to-yellow: linear-gradient(to bottom, rgba($red, 0.9), rgba($yellow, 0.9));

$color_transition: 0.2s ease-in-out;
$expansion_transition: 0.3s ease-in-out;

$section_padding-y: 90px;
$section_sub_padding-y: 48px;
$section__title_font-size: 1.875em;
$section__title_line-height: 0.93;
$section__title_margin-bottom: 35px;
$section__subtitle_font-size: 1.5em;
$section__subtitle_margin-bottom: 20px;
$section__line_width: 62px;
$section__line_height: 5px;
$section__line_margin-bottom: 48px;
$section__content_margin-bottom: 90px;
$section__content_line-height: 1.6;

$img-hoverable__overlay_hover_offset: -10px;
$img-hoverable__caption_font-size: 1.125em;
$img-hoverable__icon_size: 1.675em;

$return-to-top_offset: 20px;
$return-to-top_size: 50px;

$accordion-item_interval: 8px;
$accordion-item__toggle_padding-x: 20px;
$accordion-item__toggle_padding-y: 15px;
$accordion-item__content_padding: 15px;

$carousel__button_offset: 25px;
$carousel__button_color: $gray-300;
$carousel__button_hover_color: $gray-400;
$carousel__button_font-size: 1.5em;

$header_padding-top: 28px;
$header_padding-bottom: 230px;
$header__subtitle_font-size: $section__subtitle_font-size * 3;
$header__subtitle_margin-bottom: $section__subtitle_margin-bottom * 2;
$header__title_font-size: $section__title_font-size * 5;
$header__desc_margin-bottom: $section__title_margin-bottom * 2;

$learn-more_padding-y: 10px;
$learn-more_padding-x: 30px;
$learn-more_border-width: 4px;

$nav_padding-bottom: 143px;
$nav__link_interval: 55px;
$nav__link_underline-height: 4px;
$nav__link_underline-margin-top: 7px;
$nav__link_icon_interval: 40px;

$fact_padding-y: 60px;
$fact_border: 1px solid rgba(#fff, 0.3);
$fact__number_margin-bottom: 20px;
$fact__number_font-size: 4.5em;
$fact__text_font-size: 0.875em;

$service_border: 1px solid $gray-200;
$service__col_padding-bottom: 1em;
$service__col_padding-top: $service__col_padding-bottom + 1em;
$service__icon_width: 2.5em;
$service__icon_font-size: 2em;

$design__tablet_width: 29.8125em;
$design__mobile_width: 17.125em;
$design__mobile_margin-left: 8.75em;
$design__mobile_bottom: 3.75em;

$team-member_margin-bottom: 45px;
$team-member_border-right: 1px solid $red;

$what-we-do__item_margin-bottom: 28px;
$what-we-do__icon_size: 2.0625em;
$what-we-do__icon_margin-right: $accordion-item__toggle_padding-y;
$what-we-do__state-icon_size: 1.5em;

$quote_font-size: 1.5em;
$quote__icon_margin: 0.83em; // 60px / $quote__icon_size
$quote__icon_padding: 0.55em; // 40px / $quote__icon_size
$quote__icon_color: $green;
$quote__icon_border: 3px solid $quote__icon_color;
$quote__icon_size: 3em;
$quote__dash_margin-right: 5px;
$quote__dash_color: $red;

$client_padding-y: 2.5em;
$client__overlay_color: rgba(#fff, 0.85);
$client__img_margin-right: 30px;
$client__line_margin-y: 1.5em;
$client__line_height: 3px;

$blog-article_padding-y: 1.5em;
$blog-article__caption_padding: 16px;
$blog-article__caption_offset: 10px;
$blog-article__date_font-size: 1.875em;
