$gray: #999;
$red: #f38181;
$yellow: #fce38a;
$green: #95e1d3;
$red-to-yellow: linear-gradient(to bottom, rgba($red, 0.9), rgba($yellow, 0.9));

$color_transition: 0.2s ease-in-out;
$expansion_transition: 0.3s ease-in-out;

$section_padding-y: 90px;
$section_sub_padding-y: 48px;
$section__title_font-size: 1.875em;
$section__title_margin-bottom: 35px;
$section__subtitle_font-size: 1.5em;
$section__subtitle_margin-bottom: 20px;
$section__line_width: 62px;
$section__line_height: 5px;
$section__line_margin-bottom: 48px;
$section__content_margin-bottom: 90px;
$section__content_line-height: 1.6;

$img-hoverable__overlay_hover_offset: -10px;
$img-hoverable__caption_font-size: 1.125em;
$img-hoverable__icon_size: 1.675em;

$return-to-top_offset: 20px;
$return-to-top_size: 50px;

$accordion_border-width: 1px;
$accordion-item_interval: 8px;
$accordion-item__toggle_padding: 15px;
$accordion-item__content_padding: 15px;

$header_padding-top: 28px;
$header_padding-bottom: 230px;
$header__subtitle_font-size: $section__subtitle_font-size * 3;
$header__subtitle_margin-bottom: $section__subtitle_margin-bottom * 2;
$header__title_font-size: $section__title_font-size * 5;
$header__desc_margin-bottom: $section__title_margin-bottom * 2;

$learn-more_padding-y: 10px;
$learn-more_padding-x: 30px;
$learn-more_border-width: 4px;

$nav_padding-bottom: 143px;
$nav__link_interval: 55px;
$nav__link_underline-height: 4px;
$nav__link_underline-margin-top: 7px;
$nav__link_icon_interval: 40px;

$fact_padding-y: 60px;
$fact__number_margin-bottom: 20px;
$fact__number_font-size: 4.5em;
$fact__text_font-size: 0.875em;

$service__col_padding-bottom: 1em;
$service__col_padding-top: $service__col_padding-bottom + 1em;
$service__icon_width: 2.5em;
$service__icon_font-size: 2em;

$design__mobile_margin-left: 140px;
$design__mobile_bottom: 60px;

$guy__margin-bottom: 45px;

$what-we-do__item_margin-bottom: 28px;
