@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';

@import './variables';
@import './img-hoverable';
@import './return-to-top';
@import './sections';

html {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
